# ShortLinkX Environment Variables Template
# Copy this file to '.env' and fill in your actual production values.

# MySQL Database Configurations
DB_URL=db url
DB_USERNAME=db_user
DB_PASSWORD=db_password

# Redis Server Configurations
REDIS_HOST=your-production-redis-host
REDIS_PORT=6379

# Security Credentials
# Make sure the JWT Secret is a Base64-encoded string of at least 256 bits (32 bytes)
JWT_SECRET=jwt-secret
